{% extends "base.html.twig" %}
{% block title %}utlisateur:{{users.firstName}}{% endblock %}

{% block body %}


    <div class="row">
        
        <div  class="col-md-3"> {% include "shared/_sidebar.html.twig" %}</div>
        
        <div  class="col-md-9">
            
            <div class=" card pt-5  mt-4 formulaire" style="">
                <div class="card-head ">
                    <h3 class="">Nom Prenom : {{ users.firstName }} {{ users.lastName }}</h3>
                </div>
                <div class="card-body">


                        <table class="col-9 mt-4" >
                            <thead>
                                <tr>
    
                                    <th>Matière</th>
                                    <th>Note</th>
                                
                            </tr>
                            </thead>
                        
                            <tbody>
                             
                                    <tr>                                                                            
                                         
                                        {% for show in showUser %}

                                            <tr>
                                                <td>{{ show.matiere }} </td>
                                                
                                                <td>{{ show.note }} </td>
                                                
                                            </tr>
                                        
                                        {% endfor %}


                                       
                                    </tr>
                                    
                                     
                                    <tr><td><strong>MOYENNE</strong></td><td>   <strong>{{moyenne}}</strong>/20  </td></tr>
                                    

                            </tbody>
                            
                        </table>
                   

                </div>
    
            </div>
            
        </div>
       
    </div>






    
{% endblock %}